:root {
	--fondo1: #e4dec5e1;
	--fondo: rgb(209, 234, 241);
	--letra: #157bbe;
	--azul: #81adca;
	--azulverde: rgb(135, 215, 221);
	--negro: black;
	--verde: rgb(7, 104, 28);
	--naranja: #75563a;
	--rojo: #800000;
	--blanco: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-weight: bolder; */
}

body {
	font-family: “Helvetica”, arial, sans-serif;
	background-color: var(--fondo);
	font-size: calc(1vw + 1vh + 0.5vmin);
}

.container {
	margin: 0 auto;
	width: 99%;
}

.tab button, 
#literal-euros-hora,
h3,
h4 {
	text-align: center;
	color: var(--letra);
	font-weight: bolder;
	font-size: calc(2vw + 1vh + 0.5vmin);
}

.cabecera {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

form #sellimit {
	width: 100%;
	cursor: pointer;
	background-color: var(--azulverde);
	border-style: outset;
	margin-bottom: 0.3em;
	font-size: calc(2vw + 1vh + 0.5vmin);
}

#cbfecha {
	width: 100%;
	background-color: var(--azulverde);
	border-style: outset;
	cursor: pointer;
	margin-bottom: 0.3em;
	font-size: calc(1.5vw + 1vh + 0.5vmin);
}

#btnConsultar, #msgerror {
	width: 100%;
	background-color: var(--azul);
	color: var(--negro);
	border-style: outset;
	font-size: calc(3.5vw + 1vh + 0.5vmin);
	font-weight: bolder;
	border-radius: 2em / 5em;
	margin-bottom: 0.3em;
	text-align: center;
	cursor: pointer;
}

.resultado {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: var(--amarillo);
	width: 100%;
	margin: 0 auto;
}

#maxmin {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 0.1em;
	margin-bottom: 0.2em;
	font-size: calc(1vw + 1vh + 0.5vmin);
}

#minimo,
#medio,
#maximo {
	display: flex;
	flex-direction: column;
	background-color: var(--azul);
	width: 100%;
	border-radius: 5px;
	border-style: ridge;
}

.minimo {
	color: var(--verde);
}

.medio {
	color: var(--naranja);
}

.maximo {
	color: var(--rojo);
}


.list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75%;
	margin: 0 auto;
}

.itempreciohora {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	max-width: 90%;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 5px;
	margin-bottom: 2px;
}

.itempreciohora img {
	width: 100%;
	max-width: 5%;
	margin-right: 0.5em;
}

.itempreciohora span {
	margin-left: 0.4em;
}

.itempreciohora span1 {
	font-weight: bolder;
	font-size: calc(2vw + 1vh + 0.5vmin);
}


#loading {
	display: none;
	margin: 0 auto;
	margin-top: 3.5em;
}

/* --------- Media Querys -----------*/
@media screen and (min-width: 480px) {

	h3,
	h4 {
		text-align: center;
		color: var(--letra);
		font-size: calc(2vw + 1vh + 0.5vmin);
		font-weight: bolder;
	}

	.list-container {
		width: 100%;
	}
	.itempreciohora{
		justify-content: center;
	}
	.itempreciohora img {
		max-width: 2%;
		margin-right: 1.0em;
	}

	.itempreciohora span1 {
		font-size: calc(1vw + 1vh + 0.5vmin);
	}
}

/*--------- Pestaña de calculo -----------*/

#contenido-calcular{
	background-color: var(--fondo);
	text-align: center;
}
#contenido-calcular .cabecera{
	background-color: var(--fondo);
}
#resultado-calculo{
	background-color: var(--fondo);
}
#resultado-energia {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}
.entrada-datos{
	padding: 10px;
}

#calcular-kwh, #input-kwh{
	background-color: var(--azul);
	color: var(--negro);
	padding: 5px;
	font-size: calc(0.5vw + 1.5vh + 0.5vmin);
	font-weight: bolder;

}

#literal-euros-hora{
	font-size: calc(1vw + 2vh + 0.5vmin);
}
.eurohora{
	padding: 3px;
	margin-top: 2px;
	font-size: calc(1vw + 2vh + 0.5vmin);
}

.ocultar{
	display: none;
}
.mostrar{
	display: block;
}
/* ====================================== */
/* Style the tab */
.tab {
	overflow: hidden;
	/* border: 1px solid #ccc; */
	background-color: #f1f1f1;
	position: sticky;
	top: 0;
	margin-bottom: 10px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
	background-color:rgb(243, 233, 233) ;
	color: var(--negro);
	float: left;
	border: none; 
	outline: none;
	cursor: pointer;
	padding: 5px 30px;
	transition: 0.3s;
	font-size: 25px;
	border-top-left-radius: 20px ;
	border-top-right-radius: 20px ;
  }
  
  /* Change background color of buttons on hover */
  /* .tab button:hover {
	background-color: var(--azulverde);
  }
   */
  /* Create an active/current tablink class */
  .tab button.active {
	background-color: var(--fondo);
  }
  
  /* Style the tab content */
  .tabcontent {
	display: none;
	/* padding: 6px 12px; */
	border-top: none;
	/* border: 2px solid rgb(10, 9, 10); */
	

  }

